<div class="row">
    <div class="col-md-4">
      <h1><%= @place.name %></h1>
      <div class="panel panel-default">
        <div class="panel-body">
          <p>
        <strong>Address:</strong>
        <%= @place.address %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @place.description %>
      </p>

      <p>
        <strong>Phone:</strong>
        <%= @place.phone %>
      </p>

      <p>
        <strong>Website:</strong>
        <%= @place.website %>
      </p>
        </div>
      </div>
      <div id="map-canvas" style="width:100%; height:275px">
      </div>
    </div>


  <div class="col-md-8">
    <h1>Reviews</h1>
    <div class="panel panel-default">
      <div class="panel-body">
        Christina Says
      </div>
      <div class="panel-footer">
        This is a test review <br>
        it was really good <br>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  var map;
  var myCenter = { lat: <%= @place.latitude %>, lng: <%= @place.longitude %> };
  function initMap() {
    map = new google.maps.Map(document.getElementById('map-canvas'), {
      center: myCenter,
      zoom: 15
    });
    var marker = new google.maps.Marker({
      position: myCenter,
      map: map
    });
  }

</script>
